# elasticsearch data
esdata/

# environment variables
.env

# logs
logs/

# cache
cache/

# portal (angular web)
portal/

# engine (dot net api)
engine/

# nginx
nginx/

# keycloak runtime data
keycloak/data/

# temp
.DS_Store
